<!DOCTYPE html>

<html color-mode="white">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/favicon.png') }}"
    />
    <link href="{{ url_for('static', path='/global.css') }}" rel="stylesheet" />
  </head>

  <body>
    {% include 'components/header.html' %}
    <main>{% block content %} {% endblock %}</main>
    <script src="{{ url_for('static', path='/htmx.min.js') }}"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
  </body>
</html>
