@font-face {
  font-family: mono;
  src: url(font.otf);
}

:root {
  --small-spacing: 5px;
  --default-spacing: 10px;
}

:root[color-mode="white"] {
  --primary-color: black;
  --background-color: white;
}

/* Common */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--background-color);
}

body {
  font-family: mono;
  color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 200px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: var(--default-spacing);
}

main {
  height: 100%;
  overflow-y: auto;
}

a {
  color: var(--highlight-color);
}

hr {
  height: 1px;
  background-color: var(--primary-color);
  border: 0;
  margin: 0 0 var(--default-spacing) 0;
  padding: 0;
}

input {
  border: 0;
  font-family: mono;
  background-color: var(--shade-color);
  color: var(--highlight-color);
  padding: var(--small-spacing);
}

select {
  font-family: mono;
  width: 100%;
  height: 42px;
  max-width: 300px;
  padding: var(--small-spacing);
  border: 1px solid var(--primary-color);
  background: white;
  margin: 0 0 var(--default-spacing) 0;
}

textarea {
  padding: var(--small-spacing);
  border: 1px solid var(--primary-color);
}

::placeholder {
  color: var(--primary-color);
  font-style: italic;
}

button {
  position: relative;
  padding: var(--small-spacing);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: mono;
  cursor: pointer;
  height: 42px;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.row {
  display: flex;
  justify-content: space-between;
}

.output {
  height: 100%;
  padding: var(--default-spacing);
}

.message {
  margin-bottom: var(--default-spacing);
}

.message.user {
  padding: var(--small-spacing);
  background-color: hsl(182, 25%, 75%);
  white-space: pre;
  border-radius: 3px;
}

.message.user::before {
  display: block;
  content: "Workflow input context: ";
}

.message-step {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: var(--default-spacing);
  border-radius: 3px;
  padding: var(--small-spacing);
  padding-left: 25px;
}

.message-step::before {
  content: "→";
  position: absolute;
  top: 5px;
  left: 5px;
  top: 4px;
  left: 8px;
}

.message-result {
  margin-bottom: var(--default-spacing);
}

.loader::after {
  content: "▄ ▄ ▄";
  animation: loading 1s linear infinite;
  font-size: 10px;
}

@keyframes loading {
  0% {
    content: "▄ ▄ ▄";
  }
  25% {
    content: "█ ▄ ▄";
  }
  50% {
    content: "▄ █ ▄";
  }
  75% {
    content: "▄ ▄ █";
  }
}

.input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  padding: var(--default-spacing);
  background-color: var(--background-color);
}

.input textarea {
  width: 100%;
  height: 100px;
  padding: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}

.input button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.input button[type="submit"]:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}
