<form id="input" class="input">
  <hr />
  <textarea
    name="context"
    placeholder="Type your input topic..."
  ></textarea>
  <div class="row">
    <select name="workflow">
      {% for key in workflows %}
      <option value="{{ key }}">{{ key|capitalize|replace('_', ' ') }}  workflow</option>
      {% endfor %}
    </select>
    <button type="submit">Run workflow ►</button>
  </div>
</form>
<script type="module">
  import { SSE } from './static/sse.js';

  function createDivElement(classNames = "", content = "") {
    const element = document.createElement("div");
    element.classList = classNames;
    element.textContent = content;
    return element;
  }

  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("input");
    const outputDiv = document.getElementById("output");

    function submitForm(event) {
      event.preventDefault();

      const formData = new FormData(form);

      const userMessage = createDivElement("message user");
      userMessage.innerHTML = `<span class="label">Workflow input:</span><br />`;
      userMessage.innerHTML += formData.get("context");

      const loader = createDivElement("loader", "");

      outputDiv.append(userMessage);
      outputDiv.append(loader);

      const sse = new SSE("/infer/", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        payload: JSON.stringify({
          "workflow": formData.get('workflow'),
          "context": formData.get('context'),
        }),
      });
      let message = null;
      let lastEventLabel= "";

      sse.addEventListener('message', function(e) {
        const data = JSON.parse(e.data);

        if (data.event_type) {
          // handle intermediate event steps message
          if (lastEventLabel !== data.label) {
            console.log("Createing new event message ...");
            message = createDivElement();
            message.classList = "message step";
            message.innerHTML = `<span class="label">${data.label}:</span><br />`;
            outputDiv.insertBefore(message, loader);
          }
          message.innerHTML += data.message;
        } else {
          loader.remove();
        }

        // store last event uuid
        lastEventLabel = data.label;

        // scroll to bottom on every chunk response
        outputDiv.parentElement.scrollTo(
          0,
          outputDiv.parentElement.scrollHeight
        );
      });

    }
      form.addEventListener("submit", submitForm);

      // Add keydown listener for Ctrl + Enter
      form.addEventListener("keydown", function(event) {
        if (event.key === 'Enter' && event.ctrlKey) {
          submitForm(event);
        }
      });

  });
</script>
